.searchInput {
  border: 1px solid var(--colour);
  border-radius: 6px;
  padding: 12px;
}
.searchInput:hover {
  border: 1px solid var(--hover-colour);
}
.searchInput:disabled {
  border: 1px solid var(--colour);
  color: var(--disabled-colour);
}