:root {
  --colour: #D9D9D9;
  --hover-colour: #FF5555;
  --disabled-colour: #7E7E7E;
  --main-bg: #F9F9F9;
  --white: #FFFFFF;
  --black: #000000;
  --blue: #208FBF;
}
.grid {
  margin: 0 auto;
  display: grid;
  width: 400px;
  border: 1px solid var(--border-colour);
  background-color: var(--main-bg)
}
