.searchButton {
  background-color: var(--hover-colour);
  height: 50px;
  border-radius: 6px;
}

.searchButton:hover {
  opacity: .7;
}
.searchButton:disabled {
  background-color: var(--colour);
  opacity: 1;
}