:root {
  --colour: #D9D9D9;
  --hover-colour: #FF5555;
  --disabled-colour: #7E7E7E;
}
.grid {
  margin: 0 auto;
  display: grid;
  width: 400px;
  border: 1px solid var(--border-colour);
  background-color: #F9F9F9;
}
